In [ ]:
INTRODUCTION TO LIST DATATYPES

In [ ]:
Definition ---> A list is selection of item in  particular order.

Classifiction ---> It is classified as mutable datatype. (Can be changed)

How to declare a list? --->  [] ---> List is declared in square brackets.

In [1]:
students = ['john', 'mark', 'kim', 'jack'] # 0,1,2,3,4,.....

In [2]:
print(students)

['john', 'mark', 'kim', 'jack']

In [ ]:
How to you validate a datatypes? 

We can use type to validate a datatype.

In [19]:
type(students)

list

In [ ]:
# requirement ---> How to access a element in a list?

In [ ]:
We use indexing to access a element in list. #indexing: 0,1,2,3,4,...

In [4]:
print(students[2])

kim

In [ ]:
# Requirement ---> we wnat first letter of the name in caps.

In [5]:
print(students[2].title())

Kim

In [ ]:
1. How to add a element in list?

In [ ]:
# Requirement ---> We wnat to add jill to the list

In [6]:
students.append('jill')

In [7]:
print(students)

['john', 'mark', 'kim', 'jack', 'jill']

In [ ]:
# Now we can jill is addede to the list

In [ ]:
2. How to modify the elements in a list?

In [ ]:
# Reqirement ---> We wnat to add ben in place 3

In [8]:
students.insert(3,'ben')

In [9]:
print(students)

['john', 'mark', 'kim', 'ben', 'jack', 'jill']

In [10]:
print(students[3])

ben

In [ ]:
# Requirement ---> We have to change jhon's name to april

In [13]:
students[0] = 'april'

In [14]:
print(students)

['april', 'mark', 'kim', 'ben', 'jack', 'jill']

In [ ]:
3. How to delete a element from a list?

In [ ]:
# Requirement ---> We have to delete jill from the list

In [15]:
del students[5]

In [16]:
print(students)

['april', 'mark', 'kim', 'ben', 'jack']

In [ ]:
# INTERVIEW QUESTION: What is the difference between append and insert? **

In [ ]:
Answer: Both append and insert are used to add an element to a list.
        The difference is when we use append the element is added to the last place of the list. and when we use insert we can
        specify the place or number to which the elemet should be added

In [17]:
students.append('jill') ---> Example for append, Here we can see jill is added to the last place.

print(students)

['april', 'mark', 'kim', 'ben', 'jack', 'jill']

In [18]:
students.insert(3,'ben') ---> Example for insert, Here we can see ben is added to the 3rd place.

print(students)

['april', 'mark', 'kim', 'ben', 'ben', 'jack', 'jill']